body{
  font-family: Arial;
  background:#77B55C;
  padding:40px;
}

form{
  background:#77B55C;
  padding:20px;
  max-width:500px;
  margin:auto;
  border-radius:10px;
  box-shadow:0 0 10px rgba(0,0,0,0.2);
}

label{
  display:block;
  margin-top:10px;
}

select,input,textarea{
  width:100%;
  padding:8px;
  margin-top:5px;
}

button{
  margin-top:15px;
  padding:10px;
  background:#2c7be5;
  color:white;
  border:none;
  cursor:pointer;
}

button:hover{
  background:#1a5dcc;
}
